body{

  background-color: mediumTurquoise;

}

*{
  box-sizing: border-box;
}


#tic-tacky-toe{
  margin-left: 50px;
}

#startGameButton{
  background-color: salmon;
  padding-right: 100px;
  margin-right: 50px;
  text-indent: 75px;
}

.decoFont{
  font-family: 'Limelight', cursive;
  font-size: 48px;
  color: white;
}

.titleBar{
  background-color: grey;
  height:50px;
}


#logoTitleBar{

  background-color: mediumturquoise;
  text-align: center;
  color: white;
  font-family: 'Limelight', cursive;
  font-size: 48px;
  margin-top: 5px;
}

#tblRow1{
  border-style: dotted;
  border-color: salmon;
  border-width: 5px;
}

#tblRow2{
  border-style: dotted;
  border-color: salmon;
  border-width: 5px;
}

#tblRow3{
  border-style: dotted;
  border-color: salmon;
  border-width: 5px;
}

#square1{
  border-style: dotted;
  border-color: salmon;
  border-width: 5px;
}

.clicked{
  background-color: lightsalmon;
}

#square2{
  border-style: dotted;
  border-color: salmon;
  border-width: 5px;
}

#square3{
  border-style: dotted;
  border-color: salmon;
  border-width: 5px;
}

#square4{
  border-style: dotted;
  border-color: salmon;
  border-width: 5px;
}

#square5{
  border-style: dotted;
  border-color: salmon;
  border-width: 5px;
}

#square6{
  border-style: dotted;
  border-color: salmon;
  border-width: 5px;
}

#square7{
  border-style: dotted;
  border-color: salmon;
  border-width: 5px;
}

#square8{
  border-style: dotted;
  border-color: salmon;
  border-width: 5px;
}

#square9{
  border-style: dotted;
  border-color: salmon;
  border-width: 5px;
}

#gridbox{
    width: 90vh;
    height: 100vh;
    margin:0 auto;
    display:flex;
    flex-flow: row-wrap;
    align-content:center;
}


#main{
  margin:0 auto;
  font-size: 20px;
  font-weight: bold;
  font-family:
}

#footer{
  background-color: lightblue;
  text-align: center;
  height: 50px;
}

#gameboardTable{
    margin:0 auto;
    border-style: double;
    border-color: salmon;
    border-width: 30px;
    padding: 5px;
    position: absolute;
    width: 600px;
    height: 600px;
}

.tblCol{

  background-color: mediumTurquoise;
  border-style: ridge;
  border-color: grey;
  border-width: 2px;
  height: 200px;
  width: 200px;
}


h3{
  margin:0 auto;
  color:white;
  text-align: center;
  font-family:'Limelight', cursive;

}
