body{

  background-image: url("bluehexbg.png");
  background-repeat: repeat-x;
  background-repeat: repeat-y;


}



.decoFont{
  font-family: 'Limelight', cursive;
  font-size: 48px;
  color: white;
}

.titleBar{
  background-color: grey;
  height:50px;
}

.playerCol{
  background-color: mediumTurquoise;
  height: 600px;
  text-align: center;
}

#logoTitleBar{

  background-color: mediumturquoise;
  opacity: 50%;
  text-align: center;
  height: 75px;

}

#tic-tac-logo{
  text-align: center;
  color: white;
  font-family: 'Limelight', cursive;
  font-size: 48px;
  margin-top: 5px;

}

#gridbox{
  text-align: center;
}


#main{

  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

#footer{
  background-color: lightblue;
  text-align: center;
  height: 50px;
}

#gameboardTable{
  border-style: ridge;
  border-color: grey;
  border-width: 5px;
  padding: 5px;
  height:600px;
}

.tblCol{
  background-color: mediumTurquoise;
  border-style: ridge;
  border-color: grey;
  border-width: 2px;
  height: 200px;
  width: 200px;
}

.lftSB{
  background-color: grey;
  border: solid 2px black;
}

#Player1Button{
  margin-bottom :5px;
}
